/firmware/power-comm-module/build/
/firmware/power-comm-module/.vscode
/firmware/power-comm-module/.devcontainer

/hardware/PowerCommModule/_autosave*
hardware/PowerCommModule/PowerCommModule-backups 
